<a href="https://colab.research.google.com/github/muid-uddin-chowdhury/ETE_456/blob/main/Lab_04_Regresion_1608030.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**ETE-456: Regression Project on Medical Cost Personal Dataset**

    Objective:

        Apply various regression algorithms on the real world dataset.

**Dataset (Medical Cost Personal Datasets)**

Columns

**age:** age of primary beneficiary

**sex:** insurance contractor gender, female, male

**bmi:** Body mass index, providing an understanding of body, weights that are relatively high or low relative to height, objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

**children:** Number of children covered by health insurance / Number of dependents

**smoker:** Smoking

**region:** the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

**charges:** Individual medical costs billed by health insurance

In [ ]:
import warnings
warnings.filterwarnings("ignore")

Importing Libraries

In [ ]:
import numpy as np        
import pandas as pd     
import matplotlib.pyplot as plt 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

Downloading the files

In [ ]:
!wget -O insurance.csv https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0

--2021-12-20 16:07:46--  https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.18, 2620:100:6016:18::a27d:112
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/mwgqgjbmfw0xa5p/insurance.csv [following]
--2021-12-20 16:07:46--  https://www.dropbox.com/s/raw/mwgqgjbmfw0xa5p/insurance.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucb6f1b8ed91b31de0fdbc68d315.dl.dropboxusercontent.com/cd/0/inline/BcOZDT2tly7lcqw-laSoJHvlJpY1HDTfa3rL1y-gM89Bl4pG2x8113w2m7VDo2hVVn5aCT6gHSi80o8cUYM_XFmKkX-3sk7FR1w929swg1SbA3brs113qGjzbfLNr4D-q64GPmXN5ENpFMHBT-pm-LRS/file# [following]
--2021-12-20 16:07:46--  https://ucb6f1b8ed91b31de0fdbc68d315.dl.dropboxusercontent.com/cd/0/inline/BcOZDT2tly7lcqw-laSoJHvlJpY1HDTfa3rL1y-gM89Bl4pG2x8113w2m7VDo2hVVn5aCT6gHSi80o8cUYM_XFmKkX-3sk7FR1w929swg1SbA3brs113qGjzbfLNr4D-q64GPmXN5ENpFMHBT-pm-LRS/file
Resolving ucb6f1b8ed91b31de0fdbc68d315.dl.dropboxusercontent.com (ucb6f1b8ed91b31de0fdbc68d315.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6016:15::a27d:10f
Connecting to ucb6f1b8ed91b31de0fdbc68d315.dl.dropboxusercontent.com (ucb6f1b8ed91b31de0fdbc68d315.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55628 (54K) [text/plain]
Saving to: ‘insurance.csv’

insurance.csv       100%[===================>]  54.32K  --.-KB/s    in 0.01s

2021-12-20 16:07:46 (4.16 MB/s) - ‘insurance.csv’ saved [55628/55628]

Reading the Dataset

In [ ]:
d_set = pd.read_csv('insurance.csv')
d_set

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

Separating Features and Targets

In [ ]:
features = d_set[['age', 'sex', 'bmi', 'children','smoker','region']]

target = d_set[['charges']]

In [ ]:
features

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [ ]:
target

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

Label Encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
labelencoder_f = LabelEncoder()

features['sex'] = labelencoder_f.fit_transform(features['sex'])
features['smoker'] = labelencoder_f.fit_transform(features['smoker'])
features['region'] = labelencoder_f.fit_transform(features['region'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
features

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

Missing Values Implementations

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer(missing_values=np.nan,strategy = "mean")
imputer = imputer.fit(features[['age', 'sex', 'bmi', 'children','smoker','region']])

In [ ]:
features[['age', 'sex', 'bmi', 'children','smoker','region']]= imputer.transform(features[['age', 'sex', 'bmi', 'children','smoker','region']]

SyntaxError: ignored

In [ ]:
features

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
...   ...  ...     ...       ...     ...     ...
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

In [ ]:
imputer = SimpleImputer(missing_values=np.nan,strategy = "mean") # imputer is an object of Imputer class 
imputer = imputer.fit(target[['charges']])

In [ ]:
target[['charges']]= imputer.transform(target[['charges']])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3076: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.iloc._setitem_with_indexer((slice(None), indexer), value)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

In [ ]:
target

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

Splitting Dataset

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(features,target,test_size = 0.2,random_state = 0)

In [ ]:
print(X_train.shape)
print(X_test.shape)

(1070, 6)
(268, 6)

In [ ]:
from sklearn.preprocessing import StandardScaler
X_sc = StandardScaler()
y_sc = StandardScaler()
y_train = y_sc.fit_transform(y_train[['charges']])
y_test = y_sc.transform(y_test[['charges']])

Simple Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression


regressor = LinearRegression()


regressor.fit(X_train,y_train)

LinearRegression()

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
regressor.score(X_train,y_train)

0.7368306228430945

In [ ]:
y_test

array([[-2.90360755e-01],
       [-3.88647200e-01],
       [ 2.71438394e+00],
       [-2.09721124e-02],
       [-2.97065319e-01],
       [-7.26671304e-01],
       [-9.18940714e-01],
       [-1.47361673e-01],
       [-4.73043767e-01],
       [-6.49444142e-01],
       [-5.38531882e-01],
       [-2.26101189e-01],
       [-4.89698454e-01],
       [-7.52999425e-01],
       [ 4.26736889e-01],
       [-2.08671402e-01],
       [-5.65894545e-02],
       [-8.11006298e-01],
       [-5.63185752e-01],
       [ 1.69328373e+00],
       [ 8.99164540e-01],
       [-4.65863314e-02],
       [ 8.22176839e-01],
       [ 8.23835038e-01],
       [-9.62666851e-01],
       [-7.12701491e-01],
       [-7.90788753e-01],
       [-4.60891484e-01],
       [-7.88784629e-01],
       [-3.99857588e-01],
       [-4.29404684e-01],
       [ 2.98733744e+00],
       [-1.85261566e-02],
       [ 6.20458841e-01],
       [ 1.14477957e-01],
       [-7.56972780e-01],
       [-4.05394683e-01],
       [ 3.17310604e+00],
       [ 2.23844447e+00],
       [-9.45474413e-01],
       [-6.46686140e-01],
       [-8.63073476e-01],
       [ 5.80290287e-01],
       [ 2.86425349e+00],
       [ 1.91658125e+00],
       [ 1.07050601e+00],
       [ 5.46888400e-01],
       [-5.22841324e-01],
       [-7.08475856e-01],
       [ 7.50925765e-01],
       [-8.60370040e-01],
       [ 4.70830846e-01],
       [ 8.65831844e-01],
       [ 2.76057657e+00],
       [ 9.20875224e-01],
       [-8.29522299e-01],
       [-9.08548487e-01],
       [-3.65302549e-01],
       [ 1.06664020e-01],
       [-7.39773739e-03],
       [-9.97802290e-01],
       [ 2.79924934e+00],
       [ 6.00189764e-02],
       [-2.98222493e-01],
       [-2.05812741e-01],
       [-2.77370634e-01],
       [ 1.61582334e+00],
       [ 2.13346507e+00],
       [-8.36899933e-01],
       [-4.20799295e-01],
       [-1.33010608e-02],
       [-1.37549600e-01],
       [ 2.53196612e-01],
       [ 5.73585815e-02],
       [-1.57825574e-02],
       [ 1.32896510e-03],
       [-5.05620452e-01],
       [-4.56819420e-01],
       [ 5.92612482e-01],
       [ 2.85651858e+00],
       [-1.28850805e-01],
       [ 2.72784549e+00],
       [-9.30872415e-01],
       [-4.81070695e-01],
       [ 2.32454159e+00],
       [ 4.82004743e-01],
       [-8.17706486e-01],
       [-8.77066912e-01],
       [-7.24391093e-02],
       [ 1.97403980e+00],
       [-5.73500131e-01],
       [-2.49428402e-01],
       [ 3.90670648e-01],
       [-3.91314126e-01],
       [-7.25127319e-01],
       [-6.72534245e-01],
       [ 2.43056442e+00],
       [ 2.15452739e+00],
       [-6.57597364e-01],
       [-2.17044634e-01],
       [-9.50168221e-01],
       [-6.53416690e-01],
       [-7.39272172e-01],
       [ 2.04963208e+00],
       [ 1.63579385e+00],
       [-8.22454756e-01],
       [-2.19157456e-01],
       [-8.05462985e-01],
       [-1.04946871e-01],
       [ 3.28971883e+00],
       [-6.06194588e-02],
       [-7.46228849e-01],
       [-3.30034401e-01],
       [ 1.71473679e+00],
       [ 2.96272239e+00],
       [-4.56968194e-01],
       [-9.38434485e-01],
       [-3.97267635e-01],
       [-7.13246538e-02],
       [-3.25658230e-01],
       [ 2.41560005e+00],
       [-2.68102743e-01],
       [ 9.33597777e-02],
       [-6.49134764e-01],
       [-4.65541479e-01],
       [-6.92757382e-01],
       [ 8.51887266e-01],
       [ 6.59567554e-01],
       [ 2.92078359e+00],
       [-9.42398352e-01],
       [-4.16081596e-01],
       [-9.58414148e-01],
       [-6.03358623e-01],
       [-3.20694522e-01],
       [ 7.46883098e-01],
       [ 1.86163990e+00],
       [ 5.27358555e-01],
       [-2.58399451e-01],
       [ 8.38815502e-01],
       [-8.69593024e-01],
       [-9.13647472e-01],
       [-2.17703039e-01],
       [-3.25423684e-01],
       [-2.31018736e-01],
       [-6.93730889e-01],
       [ 9.29267653e-02],
       [ 1.26000246e+00],
       [ 1.02299712e-01],
       [-9.66621385e-01],
       [ 1.02859393e+00],
       [-5.55065615e-01],
       [ 2.20574120e+00],
       [-2.70355845e-01],
       [-9.58848321e-01],
       [-8.74516334e-01],
       [-5.59645243e-01],
       [-8.81768926e-01],
       [-9.58924940e-01],
       [-1.76688902e-01],
       [-2.57748997e-01],
       [-6.97725787e-01],
       [-1.82324511e-02],
       [ 1.31305595e+00],
       [-3.18187398e-01],
       [-7.23005264e-01],
       [ 3.27993000e-01],
       [ 5.37287088e-02],
       [-5.91966861e-01],
       [-7.31609359e-01],
       [-9.66063543e-01],
       [-7.63554803e-01],
       [-7.32120398e-01],
       [-4.08428463e-01],
       [-9.36584292e-01],
       [-7.46681664e-01],
       [-7.26310246e-01],
       [-7.32638736e-01],
       [-5.91610789e-01],
       [ 1.41843812e+00],
       [-9.59802753e-01],
       [-1.68164295e-01],
       [-5.34871713e-01],
       [-1.54049513e-01],
       [-8.93866756e-01],
       [ 1.18383523e+00],
       [ 1.24442107e+00],
       [-9.14213060e-01],
       [-8.85568088e-01],
       [ 1.24565061e-01],
       [-2.36376599e-01],
       [ 2.32979820e+00],
       [-7.69963561e-01],
       [-6.45483277e-01],
       [ 6.70017391e-01],
       [-8.90861856e-01],
       [-9.37752148e-01],
       [-5.67481274e-01],
       [-5.55342913e-01],
       [-7.63604608e-01],
       [-7.48114316e-01],
       [-1.41042179e-01],
       [ 2.81353898e+00],
       [-7.78840854e-02],
       [ 5.01000680e-01],
       [-7.32262920e-01],
       [ 2.48620038e+00],
       [ 8.38538586e-01],
       [-3.39099724e-01],
       [-6.15077000e-01],
       [-1.00653320e+00],
       [-3.70477358e-01],
       [ 7.03462137e-02],
       [-6.58869367e-01],
       [-2.00879657e-01],
       [-5.77852099e-01],
       [-9.38030762e-01],
       [-5.39057665e-01],
       [-6.55369589e-01],
       [ 6.68226169e-02],
       [-5.28097049e-01],
       [-5.85016802e-01],
       [-4.35518476e-01],
       [-4.11210940e-01],
       [-8.34730048e-01],
       [-1.13002399e-01],
       [ 8.42985590e-02],
       [-7.81451063e-02],
       [-1.13919503e-01],
       [-5.46926144e-01],
       [-9.23996541e-01],
       [-1.00802727e+00],
       [-4.05750096e-01],
       [-7.98969578e-02],
       [-7.21589336e-01],
       [ 3.69569057e-01],
       [-5.28265679e-01],
       [-3.13507387e-01],
       [ 1.75827995e+00],
       [-5.95817370e-01],
       [-1.22895989e-01],
       [-6.52909055e-01],
       [ 2.02647840e+00],
       [-4.86856860e-01],
       [-4.90759108e-01],
       [-4.00142900e-01],
       [-2.28770938e-01],
       [-8.28601779e-01],
       [-4.57168013e-01],
       [-8.74365639e-01],
       [-5.29725679e-01],
       [ 5.27895287e-01],
       [ 2.84828586e+00],
       [-7.69466699e-01],
       [-8.32062140e-01],
       [-4.90868798e-01],
       [-9.60166692e-01],
       [-4.80664383e-01],
       [-9.66408328e-01],
       [-6.95131663e-01],
       [-8.05048187e-01],
       [-3.83830738e-01],
       [ 9.45339690e-01],
       [ 2.71506757e+00],
       [ 1.51882809e-01],
       [-5.45910811e-01],
       [ 6.27034732e-01],
       [ 2.31604020e+00],
       [-3.09065045e-01]])

In [ ]:
X_test

      age  sex     bmi  children  smoker  region
578    52    1  30.200         1       0       3
610    47    0  29.370         1       0       2
569    48    1  40.565         2       1       1
1034   61    1  38.380         0       0       1
198    51    0  18.050         0       0       1
...   ...  ...     ...       ...     ...     ...
1084   62    0  30.495         2       0       1
726    41    1  28.405         1       0       1
1132   57    1  40.280         0       0       0
725    30    0  39.050         3       1       2
963    46    1  24.795         3       0       0

[268 rows x 6 columns]

In [ ]:
y_pred

array([[-1.82397841e-01],
       [-2.85099148e-01],
       [ 2.07069569e+00],
       [ 2.44003975e-01],
       [-5.23689076e-01],
       [-7.71045640e-01],
       [-9.72926790e-01],
       [ 9.03680276e-02],
       [-3.54761076e-01],
       [-4.81831323e-01],
       [-7.22976711e-01],
       [-2.46702450e-01],
       [-3.79509044e-01],
       [-7.57918614e-01],
       [ 1.22019971e+00],
       [-1.80529836e-01],
       [-1.62836802e-01],
       [-5.98833743e-01],
       [-4.19907641e-01],
       [ 1.15573478e+00],
       [ 1.70180511e+00],
       [ 8.90214986e-02],
       [-1.26625563e-01],
       [ 1.60401397e+00],
       [-7.33827716e-01],
       [-3.38672047e-01],
       [-1.00833105e+00],
       [-2.59908886e-01],
       [-7.61123005e-01],
       [-2.37545828e-01],
       [-3.54025144e-01],
       [ 2.25865181e+00],
       [ 1.90146991e-01],
       [ 3.89151803e-02],
       [ 9.63818549e-01],
       [-6.74078969e-01],
       [-2.99239284e-02],
       [ 1.44695638e+00],
       [ 1.68936662e+00],
       [-8.11207953e-01],
       [-7.68278186e-01],
       [-7.45239884e-01],
       [ 1.44152480e+00],
       [ 2.18381034e+00],
       [ 1.23623931e+00],
       [-6.84691036e-01],
       [-1.89580850e-01],
       [-4.52889275e-01],
       [-8.01172357e-01],
       [-2.20805121e-01],
       [-6.32359617e-01],
       [-8.20337141e-01],
       [ 1.64082144e+00],
       [ 2.10111294e+00],
       [ 2.55120272e-01],
       [-5.12693942e-01],
       [-6.03721743e-01],
       [-3.17640969e-01],
       [-3.29340362e-01],
       [-1.25777709e-01],
       [-9.60617851e-01],
       [ 2.13896226e+00],
       [ 1.65331108e-01],
       [-1.30166837e-01],
       [ 6.50081332e-02],
       [ 5.34949868e-02],
       [ 1.07440023e+00],
       [ 1.57777478e+00],
       [-1.00472724e+00],
       [-2.59068889e-01],
       [-8.13655125e-02],
       [-1.14224475e-01],
       [ 9.90606910e-01],
       [ 2.22401685e-01],
       [-1.68622065e-01],
       [-4.81195816e-02],
       [-5.63409078e-01],
       [-2.77505697e-01],
       [ 1.41473961e+00],
       [ 2.14423359e+00],
       [-9.90977496e-02],
       [ 2.02300285e+00],
       [-7.55261588e-01],
       [-3.30886920e-01],
       [ 1.79793834e+00],
       [ 1.33094409e+00],
       [-3.97283938e-01],
       [-6.99072231e-01],
       [-1.07962513e-01],
       [ 1.42215269e+00],
       [-2.67733528e-01],
       [-1.64046952e-01],
       [-4.12753710e-01],
       [-3.32703571e-01],
       [-4.06262348e-01],
       [-4.95581817e-01],
       [ 1.89818018e+00],
       [ 1.65336972e+00],
       [-4.69958185e-01],
       [ 1.42409851e-01],
       [-7.45802041e-01],
       [-3.74323628e-01],
       [-5.51520686e-01],
       [ 1.54966275e+00],
       [ 1.64435668e+00],
       [-9.38993072e-01],
       [-3.56767285e-01],
       [-5.52997055e-01],
       [ 1.08054256e-01],
       [ 1.98996617e+00],
       [-2.55072202e-01],
       [-2.03392281e-01],
       [-2.53230336e-01],
       [ 1.14197088e+00],
       [ 2.24337940e+00],
       [-3.96945901e-01],
       [-1.08610904e+00],
       [-3.60620720e-01],
       [ 1.55339713e-01],
       [-3.09553756e-01],
       [ 1.85156717e+00],
       [-4.94659566e-01],
       [ 2.97686789e-01],
       [-3.04373717e-01],
       [-4.24121874e-01],
       [-8.56322169e-01],
       [ 1.64250043e+00],
       [ 1.52241685e+00],
       [ 2.18470010e+00],
       [-6.46194567e-01],
       [-2.99610213e-01],
       [-7.81619525e-01],
       [-4.39809622e-01],
       [-3.81767761e-01],
       [ 1.53134062e+00],
       [ 1.38358067e+00],
       [ 1.40842568e+00],
       [-3.44303125e-01],
       [ 1.63258421e+00],
       [-8.27269517e-01],
       [-8.00866708e-01],
       [-1.77704607e-01],
       [ 1.56122203e-02],
       [-3.41197351e-02],
       [-6.51252624e-01],
       [ 2.19478374e-01],
       [ 1.65558863e-01],
       [-9.02825079e-01],
       [-1.10290961e+00],
       [-1.97691452e-01],
       [-4.85557236e-01],
       [ 1.56993854e+00],
       [-7.37267932e-02],
       [-8.84197683e-01],
       [-5.73967149e-01],
       [-4.21520208e-01],
       [-7.39047255e-01],
       [-9.02299711e-01],
       [-1.57531458e-01],
       [-6.22283432e-02],
       [-5.00897235e-01],
       [ 2.83633569e-01],
       [-1.19115761e-01],
       [ 5.69489279e-02],
       [-8.34889923e-01],
       [-4.98814774e-01],
       [ 8.17832741e-01],
       [-4.71337900e-01],
       [-6.46500216e-01],
       [-6.50711839e-01],
       [-5.46418229e-01],
       [-6.70473705e-01],
       [-2.72728567e-01],
       [-6.34079176e-01],
       [-6.35855062e-01],
       [-5.24970170e-01],
       [-7.92936667e-01],
       [-6.38990414e-01],
       [ 2.07075801e+00],
       [-9.80169502e-01],
       [-5.31524924e-02],
       [-3.59766159e-01],
       [ 3.92957054e-02],
       [-6.30781092e-01],
       [-6.68265909e-01],
       [ 1.93723427e+00],
       [-7.41588498e-01],
       [-9.42184609e-01],
       [ 1.61154762e-01],
       [-4.84000846e-02],
       [ 1.82338369e+00],
       [-6.78422268e-01],
       [-6.37707383e-01],
       [ 1.52966803e+00],
       [-5.95216399e-01],
       [-9.34093437e-01],
       [-4.01391326e-01],
       [-2.69971157e-01],
       [-4.14676301e-01],
       [-6.23694978e-01],
       [-8.05709450e-03],
       [ 2.12853404e+00],
       [ 3.91472287e-02],
       [ 1.29672593e+00],
       [-5.43076702e-01],
       [ 1.88243344e+00],
       [-7.88829375e-01],
       [-8.83949345e-02],
       [-3.24589486e-01],
       [-5.65250226e-01],
       [-1.61460440e-01],
       [ 1.08952047e-01],
       [-6.73717724e-01],
       [-7.44827045e-01],
       [-4.54136063e-01],
       [-9.99918993e-01],
       [-4.48079237e-01],
       [-7.32322990e-01],
       [ 1.33368031e-03],
       [-7.43298337e-01],
       [-2.74144134e-01],
       [-4.99661311e-01],
       [-3.37931824e-01],
       [-9.02605559e-01],
       [-1.06098448e-02],
       [ 2.94614177e-01],
       [ 1.66132821e-01],
       [-2.27285635e-01],
       [-6.30202364e-01],
       [-8.90430880e-01],
       [-9.18239772e-01],
       [ 1.56291997e-02],
       [ 9.22957131e-02],
       [-6.86593884e-01],
       [-7.60174274e-01],
       [-3.23824098e-01],
       [-2.70824385e-01],
       [ 1.25100807e+00],
       [-4.66743998e-01],
       [-2.26714272e-01],
       [-5.85714590e-01],
       [ 1.37830753e+00],
       [-1.87398732e-01],
       [-4.76481385e-01],
       [-2.53334565e-01],
       [-8.66639518e-02],
       [-8.52835518e-01],
       [-2.02958268e-01],
       [-9.74060521e-01],
       [-5.15146404e-01],
       [ 1.29554175e+00],
       [ 2.11329766e+00],
       [-5.85128830e-01],
       [-4.01806569e-01],
       [-8.94758942e-01],
       [-1.06615413e+00],
       [-2.34891317e-01],
       [-7.32170965e-01],
       [-6.91905950e-01],
       [-8.78305921e-01],
       [-5.02832317e-01],
       [ 1.67430749e+00],
       [ 2.08314759e+00],
       [ 1.25102029e-01],
       [-4.16778912e-01],
       [ 2.35360442e-01],
       [ 1.66230939e+00],
       [-3.11514235e-01]])

Mean Absoulte Error

In [ ]:
from sklearn.metrics import mean_absolute_error


mean_absolute_error(y_test, y_pred)

0.328251006254937

Mean Squared Error

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, y_pred)

0.22213004284614

R-Squared Error

In [ ]:
from sklearn.metrics import r2_score

r2_score(y_test, y_pred)

0.7998747145449959

In [ ]:
regressor.score(X_train,y_train)

0.7368306228430945

Support Vector Regression (SVR)

In [ ]:
from sklearn.svm import SVR 

regressor = SVR(kernel = 'linear')
regressor.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(kernel='linear')

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
regressor.score(X_train,y_train)

0.6795638290744734

In [ ]:
r2_score(y_test, y_pred)

0.7689076024715965

In [ ]:
mean_absolute_error(y_test, y_pred)

0.26206449818981736

In [ ]:
mean_squared_error(y_test, y_pred)

0.25650214088485607

In [ ]:
from sklearn.tree import DecisionTreeRegressor


regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [ ]:
y_pred = regressor.predict(X_test)
r2_score(y_test, y_pred)

0.6562575965127319

In [ ]:
regressor.score(X_train,y_train)

0.9982963931606104

In [ ]:
mean_squared_error(y_test, y_pred)

0.3815385679079004

In [ ]:
mean_absolute_error(y_test, y_pred)

0.3008404697042962

Random Forrest Regression

In [ ]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators = 10,random_state = 0) # n estiamator is the number of decision trees
regressor.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(n_estimators=10, random_state=0)

In [ ]:
y_pred = regressor.predict(X_test)
r2_score(y_test, y_pred)

0.8757214770662562

In [ ]:
regressor.score(X_train,y_train)

0.9644959129365694

In [ ]:
mean_absolute_error(y_test, y_pred)

0.2156241682333011

In [ ]:
mean_squared_error(y_test, y_pred)

0.1379435565144235

**Result Analysis**

Result analysis of used regression alagrotihm used in this projects in the table below. 
![q3e1.PNG]()

# ***Disscussion***

Here, We used 4 different algorithms named Linear Regression, Support Vector Regresio, Decision Tree Regression and Random Forest Regression. 4 different errors are found for 4 different algorithms. For this, proper scaling of features and target was important. And splitting of test set and trainging set was also important to do this work in less time and complexcity. It can be said from the table is, Random Forest Regression's Regessor score can give best result for this project.